body {
    margin: 0;
    padding: 0;
    background-color: #ff0000;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
@media screen and (max-width: 767px) {
    .shape {
        position: relative;
        display: inline-block;
    
        transform: skew(340deg);
        border-radius: 75px;
    }
    .loading .short {
        height: 125px;
        width: 25px;
    }
    .loading .long {
        height: 150px;
        width: 25px;
        margin: 0px 7.5px 0px 15px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .shape {
        position: relative;
        display: inline-block;
    
        transform: skew(340deg);
        border-radius: 75px;
    }
    .loading .short {
        height: 125px;
        width: 25px;
    }
    .loading .long {
        height: 150px;
        width: 25px;
        margin: 0px 7.5px 0px 15px;
    }
}
@media screen and (min-width: 1024px) {
    .shape {
        position: relative;
        display: inline-block;
    
        transform: skew(340deg);
        border-radius: 150px;
    }
    .loading .short {
        height: 250px;
        width: 50px;
    }
    .loading .long {
        height: 300px;
        width: 50px;
        margin: 0px 15px 0px 30px;
    }
}
.a {
    animation: a 2s infinite;
}
.b {
    animation: b 2s infinite;
    animation-delay: 0.25s;
}
.c {
    animation: c 2s infinite;
    animation-delay: 0.5s;
    
}
@keyframes a {
    0% {
        opacity: 0;
        background-color: #ffffff;
    }
    50% {
        opacity: 1;
        background-color: #ffffff;
    }
    100% {
        opacity: 0;
        background-color: #ffffff;
    }
}
@keyframes b {
    0% {
        opacity: 0;
        background-color: #ffffff;
    }
    50% {
        opacity: 1;
        background-color: #ffffff;
    }
    100% {
        opacity: 0;
        background-color: #ffffff;
    }
}
@keyframes c {
    0% {
        opacity: 0;
        background-color: #ffffff;
    }
    50% {
        opacity: 1;
        background-color: #ffffff;
    }
    100% {
        opacity: 0;
        background-color: #ffffff;
    }
}