@media screen and (max-width: 767px) {
    .shape {
        position: relative;
        display: inline-block;
        transform: skew(340deg);
        border-radius: 75px;
    }
    .loader .short {
        height: 125px;
        width: 25px;
    }
    .loader .long {
        height: 150px;
        width: 25px;
        margin: 0px 7.5px 0px 15px;
    }
    /*.loader_container {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ff0000;
        z-index: 999;
    }
    .loader_container .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }*/
    header{
        position: absolute;
        width: 100%;
        z-index: 10;
        background-color: #e20612;
        padding: 20px 0px 20px 0px;
    }
    header .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .zona1{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url("../media/home/img/destacada/10-2022.jpg");
        background-size: cover;
        background-position: center center;
    }
p.eslogan  {
    font-size: 8px;
    margin: 0;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
}
.a {
    animation: a 2s infinite;
}
.b {
    animation: b 2s infinite;
    animation-delay: 0.25s;
}
.c {
    animation: c 2s infinite;
    animation-delay: 0.5s;
    
}
@keyframes a {
    0% {
        opacity: 0;
        background-color: #ffffff;
    }
    50% {
        opacity: 1;
        background-color: #ffffff;
    }
    100% {
        opacity: 0;
        background-color: #ffffff;
    }
}
@keyframes b {
    0% {
        opacity: 0;
        background-color: #ffffff;
    }
    50% {
        opacity: 1;
        background-color: #ffffff;
    }
    100% {
        opacity: 0;
        background-color: #ffffff;
    }
}
@keyframes c {
    0% {
        opacity: 0;
        background-color: #ffffff;
    }
    50% {
        opacity: 1;
        background-color: #ffffff;
    }
    100% {
        opacity: 0;
        background-color: #ffffff;
    }
}